{include file="common/top"}
            <legend>用户功能</legend>
            <div class="layui-field-box">
                
                <hr>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="{:url('admin/student_add')}">添加学生</a></label>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="{:url('admin/student_select')}">查询学生</a></label>
                    </div>
                </form>
            </div>
        </fieldset>
        {include file="common/foot"}