{include file="common/top2"}
<legend>多选题</legend>
<form action="{:url('student/shiti_judge')}" method="post" enctype="multipart/form-data"></form>
<form action="{:url('student/shiti_judge')}" method="post" enctype="multipart/form-data">
    {volist name="message" id="list"}

    <td>{$list.comment}</td></br>
    <td>{$list.a}<input type="checkbox" name="{$list.sid}[]" value="1" ></td></br>
    <td>{$list.b}<input type="checkbox" name="{$list.sid}[]" value="2" ></td></br>
    <td>{$list.c}<input type="checkbox" name="{$list.sid}[]" value="3" ></td></br>


    {/volist}</tr>
    <tr>
        <td>
            <input type="reset" value="重置" name="bt1" ></td>
        <td>
            <input type="submit" value="下一部分" name="bt2"></td>

    </tr>
</form>
{include file="common/foot"}