{layout name="common/layout_index" /}
<div class="first_page">
    <div class="main_content">
        <div class="index_top_logo">
            <img src="__STATIC__/index/images/logo.png" class="logo">
        </div>
        <div class="big_size"><img src="__STATIC__/index/images/index/firstbsize.png" /></div>
        <div class="small_size"><img src="__STATIC__/index/images/index/firstssize.png" /></div>
        <div class="login_button">
            <a href="{:Url('/Index/Index/login')}"><img src="__STATIC__/index/images/index/firstinbu.png" /></a>
        </div>
    </div>
</div>
