{layout name="common/layout_index" /}
<div class="login">
    <div id="center">
        <div class="center_top">
            <ul>
                <li class="logo"><img alt="logo" src="__STATIC__/index/images/logo.png"/></li>
            </ul>
        </div>
        <div id="center_center">
        <form action="" name="loginform" id="loginform" method="">
            <ul class="user" id="login_user" >
                <li>
                    <div class="login_wrap">
                        <input value="admin" placeholder="请输入用户名" class="text" id="username" type="text" size="50" maxlength="100" />
                        <span id="usernameTip"></span>
                    </div>
                </li>
                <li>
                    <div class="login_wrap">
                        <input value="123" name="password" placeholder="请输入密码" class="text" id="userpwd"   type="password" size="15" maxlength="25" />
                        <span id="userpwdTip"></span>
                    </div>
                </li>
                <li class="reminder"><span>提示</span></li>
                <li>
                    <input type="button" class="text button" value="登录" />
                </li>
            </ul>
        </form>
        </div>
   </div>
 </div>
<script src="__STATIC__/index/js/login.js"></script>