{include file="common/top"}
            <legend>管理员功能</legend>
            <div class="layui-field-box">
                
                <hr>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="{:url('admin/yhgl')}">用户管理:</a></label>
                        <div class="layui-input-block">
                        教师管理  学生管理
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="">课堂管理:</a></label>
                        <div class="layui-input-inline">
                        添加课程  查看课程
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">单选框:</label>
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文本域:</label>
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        {include file="common/foot"}