{include file="common/top"}
            <legend>课堂管理功能</legend>
            <div class="layui-field-box">
                
                <hr>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="{:url('Admin/kc_add')}">添加课程</a></label>
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href="{:url('Admin/kc_show')}">查看课程</a></label>
                        <div class="layui-input-inline">
                        
                        </div>
                    </div>
                    <div class="layui-form-item">
                        
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                       
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    
                </form>
            </div>
        </fieldset>
        {include file="common/foot"}