{include file="common/to1p"}
            <legend>其他</legend>
            <div class="layui-field-box">
                
                <hr>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href=""></a></label>
                        <div class="layui-input-block">
                            <div>功能待更新。。。</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a href=""></a></label>
                        <div class="layui-input-inline">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                       
                        <div class="layui-input-block">
                        
                        </div>
                    </div>
                    
                </form>
            </div>
        </fieldset>
        {include file="common/foot"}