<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{:url('tea/exam_xg')}?kid={$kid}" method="post" enctype="multipart/form-data">
    <h3 align="center">修改试卷</h3>
    <br >
    <td>题目：</td></br>
    <td><textarea rows="5" cols="30" name="comment"></textarea></td></br>
    <td>题目难度：
        简单：<input type="radio" name="nandu" value="1">
        一般：<input type="radio" name="nandu" value="2">
        困难：<input type="radio" name="nandu" value="3"></br>
    </td>
    <td>知识点介绍：</td></br>
    <td><textarea rows="3" cols="20" name="dian"></textarea></td></br>
    <td>

        选项A：<input type="text" name="a" ></br>

        选项B：<input type="text" name="b"  ></br>

        选项C：<input type="text" name="c" ></br>

    </td>
    <td>正确答案：</td></br>
    A:<input type="radio" name="daan" value="1">
    B：<input type="radio" name="daan" value="2">
    C：<input type="radio" name="daan" value="3"></br>
    <td>题目分数：</td>
    4分:<input type="radio" name="score" value="4">
    6分：<input type="radio" name="score" value="6"></br>
    </tr>
    <tr>
        <td>
            <input type="reset" value="重置" name="bt1" ></td>
        <td>
            <input type="submit" value="提交" name="bt2"></td>
    </tr>
</form>
</body>
</html>