<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>判断题{volist name="message2" id="list"}
<form action="{:url('juan_select3')}" method="post" enctype="multipart/form-data">

    <td>{$list.sid}{$list.comment}</td></br>
    <td>{$list.a}<input type="radio" name="{$list.sid}" value="1" ></td></br>
    <td>{$list.b}<input type="radio" name="{$list.sid}" value="2" ></td></br>


    {/volist}</tr>
    <tr>
        <td>
            <input type="reset" value="重置" name="bt1" ></td>
        <td>
            <input type="submit" value="下一部分" name="bt2"></td>

    </tr>
</form>

</body>
</html>