<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
    <form action="" method="post" enctype="multipart/form-data">
        <h1 align="center">课程信息</h1>
        <tr>
            <td width="200" align="right">
                课程名
            </td>
            <td width="200">
                课程教师
            </td>
            <td width="200">
                课程学生
            </td>
            <td width="200">
                课程描述
            </td>
            <td width="200">
                课程增加时间
            </td>
            <td width="200">
                课程开始时间
            </td>
        </tr>
        <tr>
            {volist name="message" id="list"}
            <td>{$list.kc_name}</td>
            <td>{$list.kc_tea}</td>
            <td>{$list.kc_student}</td>
            <td>{$list.kc_describe}</td>
            <td>{:date('Y-m-d h:i:sa',$list.kc_addtime)}</td>
            <td>{$list.kc_starttime}</td>
            <td><a href="{:url('admin/kc_delete')}?id={$list.id}">删除</a>
                <a href="{:url('admin/kc_bj')}?id={$list.id}">编辑</a></td>
        </tr>{/volist}
        <tr>
            <a href="{:url('Admin/ktxxgl')}">返回</a>
        </tr>
    </form>

</table>
</body>
</html>