<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
    <form action="{:url('admin/kc_xg')}?id={$id}" method="post" enctype="multipart/form-data">
        <h1 align="center">修改课程信息记录</h1>
        <tr>
            <td>
                课程名：<input type="text" name="kc_name" ></br>
                课程教师：<input type="text" name="kc_tea" ></td>
        </tr>
        <tr>
            <td>
                学生姓名：<input type="text" name="kc_student"  >
            </td>

        </tr>
        <tr>
            <td>
                课程描述：<input type="text" name="kc_describe" >
            </td>

        </tr>

        <tr>
            <td>
                增加时间
            </td>

        </tr>
        <tr>
            <td>
                开始时间:<input type="text" name="kc_starttime" id="headimg" class="headimg">
            </td>

        </tr>
        <tr>
            <td>
                <input type="reset" value="重置" name="bt1" ></td>
            <td>
                <input type="submit" value="提交" name="bt2"></td>
        </tr>
    </form>

</table>
</body>
</html>