<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<link rel="stylesheet" href="/class1-2/public/style/base.css" type="text/css">
		<link rel="stylesheet" href="/class1-2/public/style/global.css" type="text/css">
		<link rel="stylesheet" href="/class1-2/public/style/header.css" type="text/css">
		<link rel="stylesheet" href="/class1-2/public/style/index.css" type="text/css">
		<link rel="stylesheet" href="/class1-2/public/style/bottomnav.css" type="text/css">
		<link rel="stylesheet" href="/class1-2/public/style/footer.css" type="text/css">

		<script type="text/javascript" src="/class1-2/public/static/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/class1-2/public/static/js/header.js"></script>
		<script type="text/javascript" src="/class1-2/public/static/js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="/class1-2/public/static/css/index.css">
		<style type="">
			.div1 {

				vertical-align:middle;
				text-align:center;
				float: left;
				width: 100px;
				height:95%;
			}
			.div2{ float:left;width:99%;border:1px ; height:10px}
		</style>


	</head>
	<body>
		<div class="bg1"></div>
		<div class="gyl">
		        中国供应链金融
		        
		    <div class="gy2" >打造国内最具规模的、最专业的供应链金融服务平台 </div>   
		</div>

		<form action="{:url('index/login')}" method="post">
		<div class="bg">
			<div class="wel">用户登录</div>

	        <div class="user">
	       	    <div id="yonghu" style="">用户名</div>
	       	    <input  type="text" name="username"  value="1" />
	        </div>
	        <div class="password" >
	        	<div id="yonghu" >密&nbsp;&nbsp;&nbsp;码</div>
	       	    <input class="" type="password" name="password" value="1" />
	        </div>
	        <input class="btn" type="submit" name="登录" value="登录" />
		</div>
			<div  >教师</div>
			<input type="radio" name="quanxian" value="tea">
			</div>
			<div  >管理员</div>
			<input type="radio" name="quanxian" value="admin">
			</div>
			<div  >学生</div>
			<input type="radio" name="quanxian" value="stu">
			</div>
		</form>

	</body>
</html>
