<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>在线考试系统</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css" media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="./../../../public/static/css/layui.css" media="all" /> -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/login.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./../../../public/static/css//login.css" /> -->
</head>
<body class="beg-login-bg">
    <div class="beg-login-box">
        <header>
            <h1>Online exam</h1>
        </header>
        <div class="beg-login-main">
                
            <form action="{:url('index/login')}" class="layui-form" method="post">
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
                    <input type="text" lay-verify="required" name="username" autocomplete="off" placeholder="请输入账号" class="layui-input" lay-verType="tips">
                </div>
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
                    <input type="password" lay-verify="required" name="password" autocomplete="off" placeholder="请输入密码" class="layui-input" lay-verType="tips">
                </div>
                <div >
                    <label ><input type="radio" name="quanxian" value="admin"/>管理员</label>
                    <label ><input type="radio" name="quanxian" value="tea"/>教师</label>
                    <label ><input type="radio" name="quanxian" value="stu"/>学生</label>
                </div>
                <div class="layui-form-item">
                    <div class="beg-pull">
                        <!-- <input type="submit" class="layui-btn layui-btn-normal" style="width:100%;" lay-submit lay-filter="formDemo"/> -->
                        <!-- <button type="submit" class="layui-btn layui-btn-normal" style="width:100%;" lay-submit lay-filter="formDemo">
                            登　　录
                        </button> -->
                        <input class="layui-btn layui-btn-normal" style="width:100%;" type="submit" name="登录" value="登录" />
                    </div>
                </div>
                
            </form>
        </div>
        <footer>
            <p> student-made @seaside </p>
        </footer>
    </div>
    <script type="text/javascript" src="__STATIC__/javascript/jquery.min.js"></script> 
    <script type="text/javascript" src="__STATIC__/javascript/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/javascript/sys_config.js"></script>
    
    <!-- <script type="text/javascript" src="./../../../public/static/javascript/jquery.min.js"></script> 
    <script type="text/javascript" src="./../../../public/static/javascript/layui.js"></script>
    <script type="text/javascript" src="./../../../public/static/javascript/sys_config.js"></script> -->
    
</body>
</html>