{include file="common/top1"}
<legend>查询主观题</legend> 
<div class="layui-field-box">
    {volist name="message" id="list"}
    <div class="layui-form-item">
    {eq
    name="$Think.session.uid" value="$list.uid"}
    <td>{$list.comment}</td></br>
    <td>{$list.a}</td></br>
    <td>{$list.b}</td></br>
    <td>{$list.c}</td></br>
</div>
    <div class="layui-form-item">
        <a href="{:url('tea1/exam_object_add')}">继续添加</a>
    {/eq}
</div>

    {/volist}
</div> 
<!-- <br><tr>
    {volist name="message" id="list"}
    {eq
    name="$Think.session.uid" value="$list.uid"}
    <td>{$list.comment}</td></br>

    <td>
        <a href="{:url('tea1/exam_object_add')}">继续添加</a>
        </br>
    </td>
    {/eq}
    {/volist}</tr> -->
    {include file="common/foot"}