{include file="common/top1"}
                <legend>题目添加</legend>
                <div class="layui-field-box">
                    
                    <hr>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a href="{:url('tea1/add_exam2')}">单选题</a></label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a href="{:url('tea1/add_exam_much')}">多选题</a></label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a href="{:url('tea1/exam_judge_add')}">判断题</a></label>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label"><a href="{:url('tea1/exam_object_add')}">主观题</a></label>
                        </div>
                    </form>
{include file="common/foot"}