{include file="common/top1"}
<legend>多选题列表</legend>
<div class="layui-field-box">
    {volist name="message" id="list"}
    <div class="layui-form-item">
    {eq
    name="$Think.session.uid" value="$list.uid"}
    <td>{$list.comment}</td></br>
    <td>{$list.a}</td></br>
    <td>{$list.b}</td></br>
    <td>{$list.c}</td></br>
</div>
    <div class="layui-form-item">
    <td><a href="{:url('tea1/exam_much_delete')}?cid={$list.cid}">删除</a>
        <a href="{:url('tea1/exam_much_bj')}?cid={$list.cid}">编辑</a>
        <a href="{:url('tea1/add_exam_much')}">继续添加</a>
        </br>
    </td>
</div>
       {/eq}
    </tr>{/volist}
{$page1}
</div>
{include file="common/foot"}