{include file="common/top1"}
<legend>主观题列表</legend>
<div class="layui-field-box">
    {volist name="message" id="list"}
    <div class="layui-form-item">
    {eq
    name="$Think.session.uid" value="$list.uid"}
    <td>{$list.comment}</td></br>
    \</div>
    <div class="layui-form-item">
    <td><a href="{:url('tea1/exam_object_delete')}?qid={$list.qid}">删除</a>
        <a href="{:url('tea1/exam_much_bj')}?qid={$list.qid}">编辑</a>
        <a href="{:url('tea1/exam_object_add')}">继续添加</a>
        </br>
    </td>
</div>
{/eq}
    {/volist}</tr>
{$page}
    </div>
{include file="common/foot"}