{include file="common/top1"}
<legend>修改试卷</legend>  
<form action="{:url('tea1/exam_xg')}?kid={$kid}" method="post" enctype="multipart/form-data">
    <h3 align="center">修改试卷</h3>
    <br >
    <td>题目：</td></br>
    <td><textarea rows="5" cols="30" name="comment"></textarea></td></br>
    <td>题目难度：
        简单：<input type="radio" name="nandu" value="1">
        一般：<input type="radio" name="nandu" value="2">
        困难：<input type="radio" name="nandu" value="3"></br>
    </td>
    <td>知识点介绍：</td></br>
    <td><textarea rows="3" cols="20" name="dian"></textarea></td></br>
    <td>

        选项A：<input type="text" name="a" ></br>

        选项B：<input type="text" name="b"  ></br>

        选项C：<input type="text" name="c" ></br>

    </td>
    <td>正确答案：</td></br>
    A:<input type="radio" name="daan" value="1">
    B：<input type="radio" name="daan" value="2">
    C：<input type="radio" name="daan" value="3"></br>
    <td>题目分数：</td>
    4分:<input type="radio" name="score" value="4">
    6分：<input type="radio" name="score" value="6"></br>
    </tr>
    <div class="layui-form-item layui-form-text">
        <input type="submit" class="layui-btn" name="bt2"></input>
        <input type="reset" class="layui-btn layui-btn-primary"  name="bt1"></input>
</div>
</form>
{include file="common/foot"}