{include file="common/top1"}
<legend>查看试卷</legend>            
<div class="layui-field-box">
<body>{volist name="message" id="list"}
<form action="{:url('shijuan_pg')}?={$list.sid}" method="post" enctype="multipart/form-data">

<td>{$list.sid}{$list.comment}</td></br>
<td>{$list.a}<input type="radio" name="{$list.sid}" value="1" ></td></br>
<td>{$list.b}<input type="radio" name="{$list.sid}" value="2" ></td></br>
<td>{$list.c}<input type="radio" name="{$list.sid}" value="3" ></td></br>

{/volist}</tr>
<tr>
    <td><input type="reset" value="重置" name="bt1" ></td>
    <td><input type="submit" value="提交" name="bt2"></td>
</tr>
</form>
</body>
</div>
{include file="common/foot"}